<div class="row" style="background-color: #d6d6d6;">
  <div class="col-md-4 pr-0 text-center" >
    <h5 class="pl-3 pt-2">About Us</h5>
    <div class="d-flex flex-row">
      <div class="px-3 text-center">
        <label class="text-justify">
          At Growing Green, it’s our aim to improve the world one story at a
          time by reporting environmental news that inspires readers to share
          and take action. Our goal is to shine light on the biggest issues in
          sustainability, from eco-friendly technology to animal welfare and
          everything in between.
        </label>
      </div>
    </div>
  </div>
  <hr />
  <div class="col-md-2 pr-0 text-center">
    <h5 class="pl-3 pt-2">Services</h5>
    <div class="text-center">
      <ul class="px-3 mb-2 list-unstyled">
        <li>
          <a href="#" class="text-dark" [routerLink]="'/donate'">Donate</a>
        </li>
        <li>
          <a href="#" class="text-dark" [routerLink]="'/events'">Events</a>
        </li>
        <li>
          <a href="#" class="text-dark" [routerLink]="'/impact'">Impacts</a>
        </li>
        <li>
          <a href="#" class="text-dark" [routerLink]="'/aboutUs'">About Us</a>
        </li>
        <li>
          <a href="#" class="text-dark" [routerLink]="'/termsAndConditions'"
            >Terms And Conditions</a
          >
        </li>
        <li>
          <a href="#" class="text-dark" [routerLink]="'/privacyPolicy'">Privacy policy</a>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <div class="col-md-4 pr-0 text-center">
    <h5 class="pl-3 pt-2">Contact</h5>
    <div class="">
      <div class=" pr-sm-0 text-center mb-0"></div>

      <div class="px-3 py-md-2 py-1  text-center">
        <fa-icon [icon]="faMapMarker" class="pr-2"></fa-icon>
      123 Huntington Avenue<br />Boston MA
      </div>
    </div>
    <div class="">
      <div class=" pr-sm-0 text-center"></div>

      <div class="px-3 py-md-2 py-1 text-center">
        <fa-icon [icon]="faPhone" class="pr-2"></fa-icon>
        +1 (617) 12345678
      </div>
    </div>
    <div class="">
      <div class=" pr-sm-0 text-center"></div>

      <div class="px-3 py-md-2 py-1 mb-2 text-center">
        <fa-icon [icon]="faEnvelope" class="pr-2" ></fa-icon>
        <a href="mailto:growinggreen04@gmail.com" style="color:black">growinggreen04@gmail.com</a>
      </div>
    </div>
  </div>
  <hr />
  <div class="col-md-2 pr-0 text-center">
    <h5 class="pl-3 pt-2">Follow Us</h5>
    <div class="">
      <div class="px-3 ">
        <a href="https://www.facebook.com/Growing-Green-109750617371284/" class="text-center">
          <fa-icon [icon]="faFacebook" class="pr-2" style="  color:#3b5998;
          "></fa-icon>
        </a>
      </div>
    </div>

    <div>
      <h4 class="pl-3 pt-3 text-center">Share Us</h4>
      <div class="text-center">
        <div class=" text-secondary ">
          <div
            class="fb-share-button"
            data-href="https://www.facebook.com/dikshi.desai.9"
            data-layout="button"
            data-size="large"
          >
            <a
              target="_blank" class="text-center"
              href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Fdikshi.desai.9&amp;src=sdkpreparse"
              class="fb-xfbml-parse-ignore "
              >Share</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
