<div class="container-fluid">
  <div class="jumbotron">
    <h4 class="text-center">
      Growing Green.Org Terms and Conditions
    </h4>
  </div>
</div>
<div class="terms">
  <h5 class="text-center">Agreement Between User and Growing Green</h5>

  <p>
    The Growing Green Web Site is comprised of various Web pages operated by
    Growing Green.
  </p>

  <p>
    The Growing Green Web Site is offered to you conditioned on your acceptance
    without modification of the terms, conditions, and notices contained herein.
    Your use of the Growing Green Web Site constitutes your agreement to all
    such terms, conditions, and notices.
  </p>

  <h5 class="text-center">Modification of these Terms of Use</h5>

  <p>
    Growing Green reserves the right to change the terms, conditions, and
    notices under which the Growing Green Web Site is offered, including but not
    limited to the charges associated with the use of the Growing Green Web
    Site.
  </p>

  <h5 class="text-center">Links to Third Party Sites</h5>

  <p>
    The Growing Green Web Site may contain links to other Web Sites ("Linked
    Sites"). The Linked Sites are not under the control of Growing Green and
    Growing Green is not responsible for the contents of any Linked Site,
    including without limitation any link contained in a Linked Site, or any
    changes or updates to a Linked Site. Growing Green is not responsible for
    webcasting or any other form of transmission received from any Linked Site.
    Growing Green is providing these links to you only as a convenience, and the
    inclusion of any link does not imply endorsement by Growing Green of the
    site or any association with its operators.
  </p>

  <div class="container my-4 text-center">
    <button class="btn" data-toggle="collapse" data-target="#demo">
      View More Details
    </button>
  </div>
  <div id="demo" class="collapse">
    <br />
    <br />
    <h5 class="text-center">
      MATERIALS PROVIDED TO Go Green OR POSTED AT ANY Go Green WEB SITE
    </h5>

    <p>
      Growing Green does not claim ownership of the materials you provide to
      Growing Green (including feedback and suggestions) or post, upload, input
      or submit to any Growing Green Web Site or its associated services
      (collectively "Submissions"). However, by posting, uploading, inputting,
      providing or submitting your Submission you are granting Growing Green,
      its affiliated companies and necessary sublicensees permission to use your
      Submission in connection with the operation of their Internet businesses
      including, without limitation, the rights to: copy, distribute, transmit,
      publicly display, publicly perform, reproduce, edit, translate and
      reformat your Submission; and to publish your name in connection with your
      Submission. No compensation will be paid with respect to the use of your
      Submission, as provided herein. Growing Green is under no obligation to
      post or use any Submission you may provide and may remove any Submission
      at any time in Growing Green's sole discretion. By posting, uploading,
      inputting, providing or submitting your Submission you warrant and
      represent that you own or otherwise control all of the rights to your
      Submission as described in this section including, without limitation, all
      the rights necessary for you to provide, post, upload, input or submit the
      Submissions.
    </p>

    <h5 class="text-center">LIABILITY DISCLAIMER</h5>

    <p>
      THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES INCLUDED IN OR AVAILABLE
      THROUGH THE Go Green WEB SITE MAY INCLUDE INACCURACIES OR TYPOGRAPHICAL
      ERRORS. CHANGES ARE PERIODICALLY ADDED TO THE INFORMATION HEREIN. Growing
      Green AND/OR ITS SUPPLIERS MAY MAKE IMPROVEMENTS AND/OR CHANGES IN THE
      Growing Green WEB SITE AT ANY TIME. ADVICE RECEIVED VIA THE Go Green WEB
      SITE SHOULD NOT BE RELIED UPON FOR PERSONAL, MEDICAL, LEGAL OR FINANCIAL
      DECISIONS AND YOU SHOULD CONSULT AN APPROPRIATE PROFESSIONAL FOR SPECIFIC
      ADVICE TAILORED TO YOUR SITUATION. Growing Green AND/OR ITS SUPPLIERS MAKE
      NO REPRESENTATIONS ABOUT THE SUITABILITY, RELIABILITY, AVAILABILITY,
      TIMELINESS, AND ACCURACY OF THE INFORMATION, SOFTWARE, PRODUCTS, SERVICES
      AND RELATED GRAPHICS CONTAINED ON THE Growing Green WEB SITE FOR ANY
      PURPOSE. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, ALL SUCH
      INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS ARE
      PROVIDED "AS IS" WITHOUT WARRANTY OR CONDITION OF ANY KIND. Growing Green
      AND/OR ITS SUPPLIERS HEREBY DISCLAIM ALL WARRANTIES AND CONDITIONS WITH
      REGARD TO THIS INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED
      GRAPHICS, INCLUDING ALL IMPLIED WARRANTIES OR CONDITIONS OF
      MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND
      NON-INFRINGEMENT. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO
      EVENT SHALL Growing Green AND/OR ITS SUPPLIERS BE LIABLE FOR ANY DIRECT,
      INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR ANY
      DAMAGES WHATSOEVER INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF USE,
      DATA OR PROFITS, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OR
      PERFORMANCE OF THE Growing Green WEB SITE, WITH THE DELAY OR INABILITY TO
      USE THE Growing Green WEB SITE OR RELATED SERVICES, THE PROVISION OF OR
      FAILURE TO PROVIDE SERVICES, OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS,
      SERVICES AND RELATED GRAPHICS OBTAINED THROUGH THE Growing Green WEB SITE,
      OR OTHERWISE ARISING OUT OF THE USE OF THE Growing Green WEB SITE, WHETHER
      BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN
      IF Growing Green OR ANY OF ITS SUPPLIERS HAS BEEN ADVISED OF THE
      POSSIBILITY OF DAMAGES. BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE
      EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL
      DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IF YOU ARE
      DISSATISFIED WITH ANY PORTION OF THE Growing Green WEB SITE, OR WITH ANY
      OF THESE TERMS OF USE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE
      USING THE Growing Green WEB SITE.
    </p>

    <h5 class="text-center">CopyRight and Trademark noties:</h5>

    <p>
      All contents of the Growing Green Web Site are: Copyright 2016 by
      GrowingGreen.org and/or its suppliers. All rights reserved.
    </p>
  </div>
</div>
